tr td{
  padding: 0 !important;
  margin: 0 !important;  
}

table, th{
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 400;
  white-space: nowrap;
  font-size: .875rem;
  font-weight: lighter;  
}

td {
    font-size: .75rem;
    font-weight: normal;  
}

th {
background-color: rgb(249, 249, 250);
}
.btn {
	margin-left: 2px;
}

.border-thin {
    border-width:thin !important;
}

.table thead th {
    border: 1px solid #dee2e6;
}

.statusWrapper-200 {
    background-color: green;
    color: white;
    width: 25%;
    border-style: 1px;    
    text-align: center;
    border-radius: 3px;
}