#surfstreamr-survey-bt{
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  background-color: #1ab394;
  border : 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 700;
  z-index: 300;
}
#surfstreamr-survey-bt:hover{
  background-color: #179d82;
}
#surfstreamr-surveyModal{
  display: none;
  position: fixed;
  max-height: calc(100% - 100px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 300;
  vertical-align: middle;  
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 	
}

#surfstreamr-surveyOptionsMain {
	display: none;
	position: fixed;
	max-height: calc(100% - 100px);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	z-index: 300;
	vertical-align: middle;  
	padding: 1em 1em 5em;
	background-color: #fff;
	border-top: 2px solid #1ab394;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	font-size: 14px;
	min-width: 200px;
	min-height: 100px;    
}

#surfstreamr-surveyOptions{
	width: 100%;
	padding: .5em 1em 1.5em;
	box-sizing: border-box;
	overflow: auto;
	float: none;
	display: inline-block;
	vertical-align: top;
	background-color: #f4f4f4;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 5px;
	clear: both;
}

#surfstreamr-surveyOptions span {
	position: static;
	box-sizing: inherit;
	font-weight: 700;
	font-size: 1em;
	color: #6d7072;
}

#surfstreamr-surveySelectWrapper {
	width: 100%;
	position: relative;
	display: inline-block;
	background-color: #fff;	
}

#surfstreamr-surveySelectWrapper::before {
	padding: 1em;
	position: absolute;
	right: 1px;
	right: 0;
	top: 1px;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAzNCAzNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzQgMzQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRkZGRkZGO30KPC9zdHlsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxMiwxNiAxNCwxNCAxNywxNyAyMCwxNCAyMiwxNiAxNywyMSAiLz4KPC9zdmc+Cg==);
	content: "";
	background-repeat: no-repeat;
	background-position: 50%;
	background-color: #1ab394;
}

#surfstreamr-selectSurvey {
	display: block;
	background: transparent;
	-moz-appearance: none;
	padding-right: 2.5em;
	height: calc(2em + 1px);
	box-sizing: border-box;
	font-size: 1em;
	line-height: 2em;
	padding-left: 1em;
	border: 1px solid #e7e7e7;
	color: #6d7072;
	font-family: sans-serif;
	margin: 0;
	width: 100%;
	position: relative;
	touch-action: manipulation;
}



#surfstreamr-startButton {
	background-color: #179d82;   
	float: right;
	font-size: .85em;
	font-weight: 700;
	line-height: 2em;
	border: none;
	min-width: 100px;
	cursor: pointer;
	padding: 0 2em;
	border-radius: 2px;
	color: #fff;
	margin-top: 3px;
	
}

#surfstreamr-title {
	color: black;
	font-weight: 700;
	transform: translate(-50%, -50%);
	position: relative;
	margin-left: 20%;
	font-size: 1em;
}